# Build artifacts
bin/
obj/
artifacts/

# Logs
Logs/
*.log

# User-specific files
*.user
*.rsuser
*.suo
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Local history, temp files
.history/
*.tmp
~$*

# Dotnet-specific
project.lock.json
project.fragment.lock.json
**/Properties/launchSettings.json

# Rider & ReSharper (optional: remove if never used)
.idea/
.ReSharper*/
*.DotSettings.user

# Docker/Environment
.env

# Node.js (frontend)
node_modules/
dist/

# MacOSS
.DS_Store